body{
    /*text-align: center;*/
    color: cornflowerblue;
    margin: 150px;
    font-size: 20px;
}
p{
    font-weight: bolder;
}
#mainContent{
    background-color: darkkhaki;
    border-radius: 10px;
    padding: 20px;
    height: 300px;
}
